source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
nuget coverlet.collector
nuget coverlet.msbuild
nuget crayon
nuget FsCheck.XUnit
nuget FSharp.Core
nuget FsUnit.Xunit
nuget LiteDB
nuget McMaster.Extensions.CommandLineUtils
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.NET.Test.Sdk
nuget nsubstitute
nuget Tk.Nuget
nuget System.Net.Http
nuget System.Text.RegularExpressions
nuget xunit
nuget xunit.runner.visualstudio