source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
nuget coverlet.collector
nuget coverlet.msbuild
nuget crayon
nuget FsCheck.XUnit
nuget FSharp.Core
nuget FsUnit.Xunit
nuget LiteDB
nuget McMaster.Extensions.CommandLineUtils
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.NET.Test.Sdk
nuget nsubstitute
nuget NuGet.Protocol
nuget Tk.Nuget
nuget System.Net.Http
nuget System.Text.RegularExpressions
nuget xunit
nuget xunit.runner.visualstudio
nuget Fake.IO.FileSystem
nuget Fake.Core.Target
nuget Fake.Core.ReleaseNotes
nuget FAKE.Core.Environment
nuget Fake.DotNet.Cli
nuget FAKE.Core.Process
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.Tools.Git
nuget Fake.DotNet.Paket
nuget Fake.Api.GitHub
nuget Fake.BuildServer.GitHubActions