name: Build & Release

permissions: # set permissions to principle of least privilege, codeql requires read permission to the repo content and PRs (if that option is set), and must have write permissions to security events in order to push results
  actions: read
  pull-requests: write
  security-events: write
  contents: write
  checks: write

on:
  push:
    branches: [ "**" ]
    tags: [ "**" ]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/dependabot.yml'
      - '.github/labeler.yml'
      - '.github/CODEOWNERS'
      - '**/*.md'
  merge_group:
  workflow_dispatch:

env:
  package-version-number: 0.1.${{ github.run_number }}  
  
jobs:
  sca:
    name: SCA
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
                      
      - name: Run SCA
        uses: tonycknight/pkgchk-action@v1
        with: 
          scan-issues: true
          scan-upgrades: true
          config: pkgchk.config.yml

  tests:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
                  
      - name: Run tests
        run: |
          dotnet tool restore
          dotnet restore
          dotnet test -c Debug --filter OS!=Windows --logger "trx;LogFileName=test_results.trx" /p:CollectCoverage=true /p:CoverletOutput=./TestResults/coverage.info /p:CoverletOutputFormat=cobertura

      - name: Consolidate code coverage
        run: |
          dotnet reportgenerator -reports:./tests/**/coverage.net10.0.info -targetdir:./publish/codecoverage -reporttypes:Html

      - name: Archive Test results
        uses: actions/upload-artifact@v7
        with:
          name: tests.results
          path: |
            ./tests/**/TestResults/*
      
      - name: Archive Code coverage
        uses: actions/upload-artifact@v7
        with:
          name: codecoverage
          path: ./publish/codecoverage/*.*

      - name: Unit test results
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: unit test results
          path: ${{ github.workspace }}/tests/kvps.tests/TestResults/test_results.trx
          reporter: dotnet-trx
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Code coverage results
        uses: 5monkeys/cobertura-action@master
        with:
          path: ${{ github.workspace }}/tests/kvps.tests/TestResults/coverage.net10.0.info
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 1
          fail_below_threshold: true
          show_line: true
          show_branch: true
          show_missing: true
          show_class_names: true
          link_missing_lines: true
          report_name: code coverage results
            
  build:
    name: Build package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        
      - name: Set Build version
        if: github.ref != 'refs/heads/main'
        run: |
          echo "package-version-number=${{ env.package-version-number }}-preview" >> $GITHUB_ENV

      - name: Build
        run: |
          dotnet tool restore
          dotnet restore
          dotnet pack ./src/kvps/kvps.fsproj -c Release -o ./package /p:PackageVersion=${{ env.package-version-number }} /p:Version=${{ env.package-version-number }} /p:AssemblyInformationalVersion=${{ env.package-version-number }}
  
  nuget-release:
    name: Nuget package & release
    runs-on: ubuntu-latest
    needs:   [ sca, build, tests ]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5

      - name: Determine version
        run: echo "package-version-number=$(git describe --tags --dirty)" >> $GITHUB_ENV

      - name: Report version
        run: echo "Building package ${{ env.package-version-number }}" >> $GITHUB_STEP_SUMMARY
        
      - name: Tool restore
        run: |
          dotnet tool restore
          dotnet restore
              
      - name: Build package 
        run: |
          dotnet pack ./src/kvps/kvps.fsproj -c Release -o ./package /p:PackageVersion=${{ env.package-version-number }} /p:Version=${{ env.package-version-number }} /p:AssemblyInformationalVersion=${{ env.package-version-number }}

      - name: Push nuget package
        run: dotnet nuget push "package/*.nupkg"  --api-key ${{ secrets.NUGET_PAT }} --source "nuget.org"